# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
Languages for Data science, commonly libraries, introduction to python code, data science environments

Some of the popular languages that Data Scientists use are:
 
1. Python  
2. Java  
3. R  
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Keras 
3. Numpy

|Data Science Tools|
---
|Jupyter Notebooks|
|R studios|
|Watson studios|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author 
Mario San Frutos Forja